---
- name: Configure VLANs
  cisco.ios.ios_vlans:
    config:
      - vlan_id: "{{ item.id }}"
        name: "{{ item.name }}"
        state: active
  loop: "{{ vlans }}"

- name: Configure spanning tree
  cisco.ios.ios_config:
    lines:
      - spanning-tree mode {{ spanning_tree_mode }}