- name: configuration
  hosts: all
  gather_facts: no
  tasks:
    - name: backup Cisco configuration
      cisco.ios.ios_config:
        backup: yes
        backup_options:
          filename: "{{ inventory_hostname }}_before.cfg"
          dir_path: "../files/"
    - name: configure interfaces
      cisco.ios.ios_config:
        src: "../templates/interfaces.j2"
    - name: ospf configuration
      cisco.ios.ios_config:
        src: "../templates/ospf.j2"
    - name: dhcp configuration
      cisco.ios.ios_config:
        src: "../templates/dhcp.j2"
      when: inventory_hostname == "R1"
    - name: helper address configuration
      cisco.ios.ios_config:
        src: "../templates/helper_address.j2"
      when: inventory_hostname != "R1"

