---
- name: Configure Cisco IOS devices
  hosts: all
  gather_facts: no
  tasks:
    - name: Configure basic settings
      cisco.ios.ios_config:
        lines:
          - hostname {{ inventory_hostname }}
          - ip domain-name lab.local
          - ntp server {{ ntp_servers[0] }}
        save_when: modified

    - name: Configure interfaces ( routers )
      cisco.ios.ios_interfaces:
        config:
          - name: Loopback0
            description: "{{ interfaces.loopback0.description }}"
            enabled: true
      when: inventory_hostname in groups['routers']